/* Reset some default styles to ensure consistency */
body,
html {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* Style the container for the invitation */
#container {
    max-width: 600px;
    height: 850px;
    margin: 7em auto;
    padding: 20px;
    background-color: #f7f4ed;
    text-align: center;
    border: 3px solid #dcab5c;
    border-radius: 10px;
}

#backgrounds {
    position: absolute;
}

#bLeftTop {
    background-image: url("./images/bg.webp");
    width: 500px;
    height: 500px;
    position: absolute;
    top: -100px;
    left: -113px;
    background-size: 100%;
    background-repeat: no-repeat;
}

#bRightTop {
    background-image: url("./images/bg.webp");
    width: 500px;
    height: 500px;
    position: absolute;
    top: -110px;
    left: 228px;
    rotate: 100deg;
    background-size: 100%;
    background-repeat: no-repeat;
}

#bLeftBottom {
    background-image: url("./images/bg.webp");
    width: 500px;
    height: 500px;
    position: absolute;
    top: 481px;
    left: -144px;
    rotate: 54deg;
    background-size: 100%;
    background-repeat: no-repeat;
}

#bRightBottom {
    background-image: url("./images/bg.webp");
    width: 500px;
    height: 500px;
    position: absolute;
    top: 445px;
    left: 222px;
    rotate: 219deg;
    background-size: 100%;
    background-repeat: no-repeat;
}

#bCenter {
    background-image: url("./images/bgCenter.webp");
    width: 550px;
    height: 550px;
    position: absolute;
    top: 170px;
    left: 21px;
    rotate: 16deg;
    background-size: 100%;
    background-repeat: no-repeat;
}

#borderLeft {
    background-image: url("./images/borderOne.png");
    width: 475px;
    height: 603px;
    position: absolute;
    top: 110px;
    left: -533px;
    rotate: 90deg;
    background-size: 100%;
    background-repeat: no-repeat;
}

#borderTop {
    background-image: url("./images/borderOne.png");
    width: 400px;
    height: 603px;
    position: absolute;
    top: -44px;
    left: 110px;
    background-size: 100%;
    background-repeat: no-repeat;
}

#borderRight {
    background-image: url("./images/borderOne.png");
    width: 475px;
    height: 603px;
    position: absolute;
    top: 110px;
    left: 110px;
    rotate: 90deg;
    background-size: 100%;
    background-repeat: no-repeat;
}

#borderBottom {
    background-image: url("./images/borderOne.png");
    width: 400px;
    height: 603px;
    position: absolute;
    top: 849px;
    left: 139px;
    background-size: 100%;
    background-repeat: no-repeat;
}

#text {
    position: relative;
    width: 620px;
    top: 20px;
}

/* Style the header with event name */
#header {
    font-family: 'Dancing Script', cursive;
    font-size: 58px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #9e084f;
}

#names {
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 15px;
    color: #1a3816;
    line-height: 1.1em;
}

#note,
#noteOne,
#hashtag {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 23px;
    color: #9e084f;
}

#noteOne {
    margin-bottom: 7em;
    color: #1a3816;
}

/* Style the event date and time */
#eventDetails {
    font-family: 'Quicksand', sans-serif;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 8em;
}

/* Style the main message */
#message {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 30px;
}

 /* Add media queries for responsiveness  */
  @media screen and (max-width: 768px) {
    body, html {
        margin: 50px 0px 0px 50px;
        padding: 0;
        width: auto;
        height: auto;
        overflow: hidden !important;
      }
    #container {
        margin: 0; /* Remove all margin */
    }
    /* #header {
      font-size: 20px;
    }
    #event-details {
      font-size: 16px;
    }
    #message {
      font-size: 14px;
    }
    #rsvp-button {
      font-size: 16px;
    }
    #footer {
      font-size: 12px;
    } */
  }
  